body {
  padding: 0;
  margin: 0;
  font-family: "baskerville", serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
  color: #167cac;
  padding-bottom: 15px;
  line-height: 0.9;
  font-family: Edwardian Script ITC;
  text-transform: capitalize;
}
h2 {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #167cac;
}
h3 {
  font-size: 18px;
  font-weight: 600;
  color: #167cac;
  font-style: italic;
  letter-spacing: 2px;
  line-height: 1.6;
}
p {
  font-size: 22px;
  color: #167cac;
  line-height: 1.3;
  letter-spacing: 2px;
}
small {
  letter-spacing: 1px;
}

.card {
  background: transparent;
  border: none;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 48px;
  }
  h3 {
    font-size: 14px;
    font-weight: 600;
    color: #167cac;
    font-style: italic;
  }
  p {
    font-size: 18px;
  }
}
