.giftlist {
  background: rgb(234 245 255);
  padding: 60px;
}
.giftlist p {
  font-size: 18px;
}
.giftlist-btn {
  border: 1px solid #167cac;
  color: #167cac;
  padding: 10px 50px;
  letter-spacing: 2px;
}
.giftlist-btn:hover {
  background: #167cac;
  color: white;
}
@media (max-width: 600px) {
  .giftlist {
    padding: 60px 25px;
  }
  .giftlist h3 {
    font-size: 16px;
  }
}
